body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .show {
  opacity: 1;

  animation: show-item 1s ease-in forwards;
}
.hide {
  opacity: 0;
  animation: hide-item 2s ease-in forwards;
}

@keyframes show-item {
  0% {
    opacity: 0;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: green;
  }
  100% {
    opacity: 1;
    color: blue;
  }
}

@keyframes hide-item {
    0% {
      opacity: 1;
      color: red;
    }

    50% {
      opacity: 0.5;
      color: green;
    }

    100% {
      opacity: 0;
      color: blue;
    }
} */

/* 
  appear, enter, and exit： 动画的三个状态，分别为：刚出现时，进入，退出；
  每个状态分别对应三个时刻: 第一帧（状态名）、第二帧（active）、最后一帧（done）
  
  *为对应的className名

  appear样式需要配合组件appear属性（true）
  *-appear: 第一次出场第一帧显示的样式
  *-appear-active: 第一次出场显示的第二帧样式
  *-appear-done: 第一次出场后的显示样式

  同理:
  *-enter：进入时动画显示
  *-enter-active：进入时显示的第二帧样式
  *-enter-done：进入完成时显示样式
  
  *-exit：退出时动画显示
  *-exit-active：退出时显示的第二帧样式
  *-exit-done：退出完成时显示样式
*/

.fade-enter, .fade-appear {
  opacity: 0;
  color: red;
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  color: blue;
  transition: all 1s ease-in;
}
.fade-enter-done {
  opacity: 1;
  color: blue;
}
.fade-exit {
  opacity: 1;
  color: blue;
}

.fade-exit-active {
  opacity: 0;
  color: red;
  transition: all 1s ease-in;
}

.fade-exit-done {
  opacity: 0;
  color: red;
}